#main_page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 2fr;
    width: 100vw;
    height: 100vh;
}

#main_page video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}

#main_header {
    display: grid;
    grid-template-rows: 1fr;
    overflow: visible;

}

#main_playercard {
    grid-row-start: 1;
    align-self: start;
}

#resources {
    grid-row-start: 1;
    justify-self: end;
    align-self: start;
    display: flex;
    justify-content: flex-end;
    margin-top: max(15px, 1.5%);
    margin-right: 5%;
    gap: 3%;
    width: 70vw;
    height: 70%;
}

#resources div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18%;
    min-width: 100px;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.863);    
    color: rgb(0, 0, 0);
}

.resource {
    gap: 5%;
    font-size: 1.8rem;
    font-weight: 800;
}

.resource img {
    width: 18%;
}

#sidebar {
    grid-row-start: 2;
    justify-self: end;
    align-self: end;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 3%;
    min-width: 45px;
    margin-right: 3%;
    margin-bottom: auto;
}

#bottombar {
    align-self: end;
    margin-bottom: 1.4%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.644);
    height: 14%;
    overflow: visible;
}

.menuBtn {
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    align-items: center;
    margin-bottom: 4.6%;
    font-size: 1.5rem;
}

.menuBtn img {
    width: 25%;
    min-width: 35px;
}

@media screen and (max-width: 650px) {
    .menuBtn {
        font-size: 1.1rem;
        margin-bottom: 13%;
        gap: 1vh;
    }
    #resources {
        width: 60vw;
    }
    .resource {
        gap: 5%;
        font-size: 1.5rem;
        font-weight: 800;
    }
    #bottombar {
        height: 10%;
        margin-bottom: 3%;
    }
}




